<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>
    <style>
        .preco-alto{
            background-color: red;
            color: white;
        }
    </style>
    <table>
        {% for produtos, preco in Tabela %}
       
        <tr>
                <td>{{produtos}}</td>
        {% if preco> 5.00 %}
            <td class="preco-alto">{{preco}}</td> 
        {% else %}
            <td>{{preco}}</td>
        {%endif%}
            </tr>
        
    {% endfor %}  
            
    </table>
</body>
</html>